<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We build, test and deliver bespoke research environments</h2>
          <p>Whatever your research field, you and your community need digital platforms. Whether it is cloud compute, ubiquitous data storage, Open Science, smooth collaboration with peers, high-performance computing or consultancy, we can help. We co-design and iteratively implement the tools you need to succeed.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Get in touch.</a>
        </div>
      </div>
    </div>
  </div>
</section>
